.main {
  background-color: clear;
  height: 80%;
  max-height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeInFromBottom 0.2s ease-in-out;
}

.container {
  width: 87%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #2d2d2d;
  border-radius: 12px;
}

.title {
  text-align: center;
  font-size: 12px;
  padding: 0px 5px;
  margin-top: 10px;
}

.value {
  text-align: center;
  font-size: 14px;
  padding: 0px 5px;
  color: #a0e887;
  word-wrap: overflow;
}

.negativeValue {
  color: #e05252;
}

.statementSource {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  padding: 0 5px;
  margin-bottom: 10px;
}

.date {
  text-align: center;
  font-size: 10px;
  margin-bottom: 10px;
}

@keyframes fadeInFromBottom {
  0% {
    opacity: 0.3;
    transform: translateY(30%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
