.main {
  background-color: #232323;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-radius: 10px;
  margin-bottom: 20px;
  ;
}

.input {
  height: 100%;
  width: 96%;
  background-color: transparent;
  border-color: transparent;
  padding: 5px 2px;
  border-color: transparent;
  outline-width: 0;
}

input.middle:focus {
  outline-width: 0;
}